.card {
  width: 15%;
  height: 100%;
  overflow: hidden;

  cursor: pointer;
}
.borderSelected {
  border: 5px red solid;
}
.borderNone {
  border: 5px var(--white-EasyHome) solid;
}
.card img {
  width: 300px;
  height: 300px;
}
.info-card p {
  margin-left: 10px;
}
