<section id="sidebar">
  <div id="profile" class="ps-5 pt-3">
    <div id="imgProfile" class="m-2">
      <img
        class="w-100 h-100"
        src="/assets/{{ user?.profileImg }}"
        alt="img_profile"
      />
    </div>

    <p class="py-2">
      <strong>Profilo: </strong>{{ user?.name }} {{ user?.surname }}
    </p>
  </div>
  <div id="menu" class="ps-5 pt-3">
    <button routerLink="/homepage/" class="btn btn-primary mb-2">
      Bacheca
    </button>
    <button routerLink="/homepage/userHouse" class="btn btn-primary mb-2">
      Le mie case
    </button>
    <button class="btn btn-primary mb-2">Impostazioni</button>
  </div>
</section>
