<section id="sidebar">
  <div id="profile" class="ps-5 pt-3">
    <div id="imgProfile" class="m-2">
      <img
        class="w-100 h-100"
        [src]="'assets/' + (user?.profileImg || 'img2.jpg')"
        alt="img_profile"
      />
    </div>

    <p class="py-2 px-3">{{ user?.name }} {{ user?.surname }}</p>
    <img
      id="logo"
      routerLink="/login"
      class="mt-1 d-sm-block d-md-none d-lg-none"
      src="/assets/logo2.png"
      alt="alt_logo"
    />
  </div>
  <!--Bottoni User-->
  <div id="menu" class="px-3 pt-3">
    @if (!user?.buildingManager) {
    <button routerLink="/homepage/" class="btn btn-primary mb-2">
      Bacheca
    </button>
    <button routerLink="/homepage/userHouse" class="btn btn-primary mb-2">
      Le mie case
    </button>
    <button class="btn btn-primary mb-2">Impostazioni</button>
    }
    <!--Bottoni Amministratore-->
    @else {
    <div>
      <button routerLink="/backoffice/" class="btn btn-primary mb-2">
        Visualizza Case
      </button>
      <button
        routerLink="/backoffice/formaAddUser"
        class="btn btn-primary mb-2"
      >
        Crea nuovo Utente
      </button>
      <button
        routerLink="/backoffice/bachecaAdmin"
        class="btn btn-primary mb-2"
      >
        Bacheca
      </button>
    </div>
    }
  </div>
</section>
