<section id="sidebar">
  <div id="profile" class="ps-5 pt-3">
    <div id="imgProfile">
      <img
        class="w-100"
        src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg"
        alt="img_profile"
      />
    </div>

    <p>Mario Rossi</p>
  </div>
  <div id="menu" class="ps-5 pt-3">
    <button routerLink="/homepage/" class="btn btn-primary mb-2">
      Bacheca
    </button>
    <button routerLink="/homepage/userHouse" class="btn btn-primary mb-2">
      Le mie case
    </button>
    <button class="btn btn-primary mb-2">Impostazioni</button>
  </div>
</section>
