h2 {
  margin-left: 43%;
  font-weight: 700;
  color: var(--white-EasyHome);
}
form {
  margin-left: 20%;
  background-color: var(--blue-EasyHome);
  width: 75vw;
  color: var(--white-EasyHome);
  border-radius: 2%;
  padding: 2%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.24);
}
form input {
  margin-right: 15px;
}
.card {
  width: 15%;
  height: 20%;
  overflow: hidden;
  border: 5px var(--white-EasyHome) solid;
  cursor: pointer;
  padding-bottom: 2%;
}
.card img {
  width: 300px;
  height: 300px;
}
.info-card p {
  margin-left: 10px;
}
.borderSelected {
  border: 5px red solid;
  padding-bottom: 2%;
}

.borderNone {
  border: 5px var(--white-EasyHome);
  padding-bottom: 2%;
}

form button {
  position: relative;
  right: -90%;
  background-color: var(--button-orange);
  border: solid 2px var(--border-button-orange);
  color: var(--blue-EasyHome);
  font-weight: bold;
}
/*media query mobile version*/
@media only screen and (max-width: 767px) {
  h2 {
    margin-left: 0px;
    text-align: center;
  }

  form {
    width: 90vw;
    margin-left: 5%;
    border-radius: 5px;
    padding: 5%;
  }
  form button {
    right: -70%;
    color: var(--white-EasyHome);
  }
}
