<div id="bacheca" class="mt-5">
  <table>
    <thead>
      <tr>
        <th scope="col">Messaggio</th>
        <th scope="col">Data</th>
        <th scope="col">Destinatario</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notficationsList">
        <td>{{ notification.text }}</td>
        <td>{{ notification.date | date : "dd/MM/yy" }}</td>
        <td *ngIf="notification.user">
          {{ notification.user.name }}
          {{ notification.user.surname }}
        </td>
        <td *ngIf="!notification.user">Tutti</td>
        <td class="mx-0">
          <button
            class="btn btn-danger"
            (click)="deleteNotification(notification.id)"
          >
            cancella
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
