<div id="bacheca" class="mt-5">
  <table>
    <thead>
      <tr>
        <th scope="col">Messaggio</th>
        <th scope="col">Data</th>
        <th scope="col">Destinatario</th>
        @if (userLogged?.buildingManager) {
        <th scope="col" class="col-cancella"></th>
        }
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notficationsList">
        <td>{{ notification.text }}</td>
        <td>{{ notification.date | date : "dd/MM/yy HH:mm" }}</td>
        <td *ngIf="notification.user">
          {{ notification.user.name }}
          {{ notification.user.surname }}
        </td>
        <td *ngIf="!notification.user">Tutti</td>
        @if (userLogged?.buildingManager) {
        <td class="mx-0">
          <button
            class="btn btn-danger d-flex align-items-center"
            (click)="deleteNotification(notification.id)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
            <div class="d-none d-md-block d-lg-block">cancella</div>
          </button>
        </td>
        }
      </tr>
    </tbody>
  </table>
</div>
