<h3 class="my-3">Lista Case:</h3>
<!--inizio SearchBar-->
<nav class="navbar navbar-light bg-light rounded mb-4">
  <form class="d-flex">
    <div class="d-flex p-2 align-items-center">
      <label class="mx-2" for="UserEntity">Propietario: </label>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="ex: Mario Rossi"
        name="UserEntity"
      />
      <label class="mx-2" for="scala">Scala: </label>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="ex: A"
        name="scala"
      />
      <label class="mx-2" for="piano">Piano: </label>
      <input
        class="form-control mr-sm-2"
        type="number"
        placeholder="ex: 3"
        name="piano"
      />
      <label class="mx-2" for="interno">Interno: </label>
      <input
        class="form-control mr-sm-2"
        type="number"
        placeholder="ex: 3"
        name="interno"
      />
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
        Cerca
      </button>
    </div>
  </form>
</nav>
<!--fine SearchBar-->
<div class="d-flex">
  @for (house of houses; track house) {
  <app-card-house-user [userHouse]="house" />
  }
</div>
