table {
  margin-left: 20%;
}

table {
  width: 75%;
  border-collapse: collapse;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.24);
}
table,
th,
td {
  border: 1px solid var(--blue-EasyHome);
  background-color: var(--light-blue);
}
th,
td {
  padding: 10px;
  text-align: left;
}

thead tr th {
  background-color: var(--blue-EasyHome);
  color: var(--white-EasyHome);
}

.col-cancella {
  width: 1%;
  white-space: nowrap;
  border-left: 0px;
}

/*media query mobile version*/
@media only screen and (max-width: 767px) {
  table {
    width: 100vw;
    margin-left: 0px;
  }
  th,
  td {
    padding: 0px;
    text-align: left;
  }
}
