footer {
  margin-left: 15%;
  background-color: var(--blue-EasyHome) !important;
  color: var(--white-EasyHome) !important;
}
#logo {
  width: 50px;
}

svg {
  padding-top: 2px;
}

/*media query mobile version*/
@media only screen and (max-width: 767px) {
  footer {
    margin-left: 0px;
  }
  #contacts div:first-of-type {
    padding-left: 13%;
  }
  #contacts div:not(:first-of-type) {
    padding-left: 27%;
  }
  #containerLogoFooter {
    justify-content: center;
  }
}
