<h2 class="my-5 titleEasyHome t1">Sezione Usi E Consumi</h2>
@if (loader) {
<span class="loader"></span>
}
<div
  class="d-flex justify-content-evenly graphContainer"
  *ngIf="listUsageWater.length && listUsageGas.length && months.length"
>
  <div class="ms-5 mb-5 d-flex flex-wrap flex-md-nowrap">
    <app-graph
      [title]="'Acqua'"
      [listUsage]="listUsageWater"
      [listMonths]="months"
      [graphId]="'graphWater'"
      [color]="'rgba(10, 180, 180, 0.2)'"
    ></app-graph>
  </div>
  <div class="mb-5">
    <app-graph
      [title]="'Gas'"
      [listUsage]="listUsageGas"
      [listMonths]="months"
      [graphId]="'graphGas'"
      [color]="'rgba(155, 164, 117, 0.2)'"
    ></app-graph>
  </div>
</div>
@if (isUserRole(ERole.ROLE_USER) ) {
<h2 class="my-5 titleEasyHome t2">Aggiungi Consumi</h2>
<form
  [formGroup]="dataForm"
  class="d-flex flex-column flex-md-row justify-content-around"
  (ngSubmit)="onSubmitSendDataUsages()"
>
  <div class="me-5 my2">
    <label for="water">Acqua:</label>
    <br />
    <input type="number" id="water" name="water" formControlName="water" />
    <div
      class="text-danger"
      *ngIf="dataForm.get('water')?.errors?.['nonNegative']"
    >
      Valore non consentito
    </div>
    <div
      class="text-danger"
      *ngIf="!dataForm.get('water')?.valid && dataForm.get('water')?.touched"
    >
      Inserisci Acqua
    </div>
  </div>
  <div class="me-5">
    <label for="gas">Gas:</label>
    <br />
    <input type="number" id="gas" name="gas" formControlName="gas" />
    <div
      class="text-danger"
      *ngIf="dataForm.get('gas')?.errors?.['nonNegative']"
    >
      Valore non consentito
    </div>
    <div
      class="text-danger"
      *ngIf="!dataForm.get('gas')?.valid && dataForm.get('gas')?.touched"
    >
      Inserisci Gas
    </div>
  </div>
  <div class="me-5">
    <label for="date">Data:</label>
    <br />
    <input type="date" id="date" name="date" formControlName="date" />
    <div
      class="text-danger"
      *ngIf="dataForm.get('date')?.errors?.['dateNotInFuture']"
    >
      Scegliere una data non successiva al mese corrente.
    </div>
    <div
      class="text-danger"
      *ngIf="!dataForm.get('date')?.valid && dataForm.get('date')?.touched"
    >
      Inserisci data
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!dataForm.valid">
    Invia
  </button>
</form>
}

<h2 class="my-5 titleEasyHome t4">Sezione Pagamenti Amministrativi</h2>
<app-table-payments [paymentsList]="payments" [user]="userLogged" />
@if(isUserRole(ERole.ROLE_MANAGER)){
<app-form-add-payment [house_id]="idHouse" />
}
