h2 {
  margin-left: 49%;
  font-weight: 700;
  font-weight: 700;
  color: var(--white-EasyHome);
  text-shadow: 6px 7px 9px rgba(0, 0, 0, 0.92);
}
form {
  margin-left: 20%;
  width: 75%;
  background-color: var(--blue-EasyHome);
  color: var(--white-EasyHome);
  padding: 2%;
  border-radius: 5px;
}
