<h2 class="titleEasyHome my-5">Informazio Profilo</h2>
@if (loader) {
<span class="loader"></span>
}

<div id="info">
  <div
    class="d-flex flex-column-reverse flex-md-row flex-lg-row justify-content-between w-100"
  >
    <div class="p-3 w-100">
      <div class="p-3">
        <h3>Dati Utente</h3>
        <p><strong>Nome: </strong> {{ user?.name }}</p>
        <p><strong>Cognome: </strong> {{ user?.surname }}</p>
        <p><strong>Email: </strong> {{ user?.email }}</p>
        <p><strong>Cellulare: </strong>{{ user?.cell }}</p>
        <p>
          <strong>Data di nascita: </strong>
          {{ user?.birthDate | date : "dd/MM/yy" }}
        </p>
      </div>
      <hr class="mx-3" />
      <div class="p-3 mt-0">
        <div>
          <h3>Dati Carta di credito</h3>
          <p><strong>Titolare: </strong> {{ user?.holder }}</p>
          <p><strong>Carta di credito: </strong>{{ user?.creditCard }}</p>
          <p>
            <strong>Data di scadenza: </strong>
            {{ user?.expire | date : "dd/MM/yy" }}
          </p>
          <p><strong>CVV: </strong> {{ user?.cvv }}</p>
        </div>
      </div>
    </div>
    <div id="containerImg" class="p-3 w-50 mt-2">
      <img
        class="w-100"
        [src]="'assets/' + (user?.profileImg || 'img2.jpg')"
        alt="img_profile"
      />
    </div>
    <div>
      <button
        id="buttonInfo"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Modifica Dati
      </button>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifica Dati</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dataForm">
          <div>
            <label for="name">Nome :</label>
            <input type="text" id="name" formControlName="name" />
          </div>
          <div>
            <label for="surname">Cognome :</label>
            <input type="text" id="surname" formControlName="surname" />
          </div>
          <div>
            <label for="password">Password :</label>
            <input type="password" id="password" formControlName="password" />
          </div>
          <div>
            <label for="cell">Cellulare :</label>
            <input type="text" id="cell" formControlName="cell" />
          </div>
          <div>
            <label for="birthDate">Data di nascita :</label>
            <input type="date" id="birthDate" formControlName="birthDate" />
          </div>
          <hr />
          <h3>Dati Carta di credito</h3>
          <div>
            <label for="holder">Titolare carta:</label>
            <input type="text" id="holder" formControlName="holder" />
          </div>
          <div>
            <label for="creditCard">Carta di credito:</label>
            <input type="text" id="creditCard" formControlName="creditCard" />
          </div>
          <div>
            <label for="cvv">CCV:</label>
            <input type="number" id="cvv" formControlName="cvv" />
          </div>
          <div>
            <label for="expire">Data di scadenza:</label>
            <input type="date" id="expire" formControlName="expire" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          annulla
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendUpdateUser()"
        >
          Salva modifica
        </button>
      </div>
    </div>
  </div>
</div>
