<div class="d-flex containerBtnETitle align-items-center">
  <h2 class="my-5 me-5 titleEasyHome">Lista Case</h2>
  <app-modal-add-house />
</div>
<!--inizio SearchBar-->
<nav class="navbar navbar-light bg-light rounded mb-4">
  <form class="d-flex">
    <div
      class="d-flex p-2 align-items-center flex-wrap flex-md-nowrap flex-lg-nowrap"
    >
      <label class="mx-2" for="UserEntity">Propietario: </label>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="ex: Mario Rossi"
        name="UserEntity"
      />
      <label class="mx-2" for="scala">Scala: </label>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="ex: A"
        name="scala"
      />
      <label class="mx-2" for="piano">Piano: </label>
      <input
        class="form-control mr-sm-2"
        type="number"
        placeholder="ex: 3"
        name="piano"
      />
      <label class="mx-2" for="interno">Interno: </label>
      <input
        class="form-control mr-sm-2"
        type="number"
        placeholder="ex: 3"
        name="interno"
      />
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
        Cerca
      </button>
    </div>
  </form>
</nav>
<!--fine SearchBar-->
<div class="d-flex flex-wrap">
  @for (house of houses; track house) {
  <app-card-house-user [userHouse]="house" class="mb-3" />
  }
</div>
