.containerBtnETitle {
  margin-left: 49%;
}
.containerBtnETitle button {
  width: 40px;
  height: 40px;
}

.navbar {
  width: 80%;
  margin-left: 18%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.24);
}
.navbar + div {
  margin-left: 20%;
}
/*media query mobile version*/
@media only screen and (max-width: 767px) {
  h2 {
    margin-left: 0px;
    text-align: center;
  }
  .navbar {
    margin-left: 10%;
  }
  .navbar + div {
    margin-left: 10%;
  }
}
