<h2 class="mt-5">Bacheca Generale</h2>
<app-table-notification [notficationsList]="notifications" />

<form class="mt-5" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <h3>Crea un nuovo messaggio</h3>
  <div>
    <label for="text">Messaggio:</label>
    <br />
    <textarea
      type="text"
      id="text"
      for="text"
      formControlName="text"
    ></textarea>
  </div>
  <div>
    <label for="user">Destinatario:</label>
    <select class="form-select" formControlName="user">
      <option selected></option>
      <option [ngValue]="null">Tutti</option>
      <option *ngFor="let user of listUsers" [ngValue]="user.id">
        {{ user.name }} {{ user.surname }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary mt-3">Invia</button>
</form>
