<div class="card m-2" style="width: 18rem">
  <img class="card-img-top" src="{{ userHouse.houseImg }}" alt="img_house" />
  <div class="info-card pt-2">
    <p><strong>Interno: </strong> {{ userHouse.interno }}</p>
    <p><strong>Piano: </strong> {{ userHouse.piano }}</p>
    <p><strong>Scala: </strong> {{ userHouse.scala }}</p>
    <p *ngIf="userHouse.user">
      <strong>Proprietario: </strong> {{ userHouse.user.name }}
      {{ userHouse.user.surname }}
    </p>
    <p *ngIf="!userHouse.user"><strong>Proprietario: </strong>nessuno</p>
  </div>
  <div class="d-flex">
    <button
      class="btn btn-primary mx-2"
      routerLink="/homepage/paymentHomepage/{{ userHouse.id }}"
    >
      Pagamenti
    </button>
    <button
      class="btn btn-success"
      routerLink="/homepage/usageHomepage/{{ userHouse.id }}"
    >
      Usi e Consumi
    </button>
  </div>
</div>
