/* You can add global styles to this file, and also import other style files */
:root {
  --blue-EasyHome: rgb(45, 45, 114);
  --white-EasyHome: rgb(246, 239, 230);
  --light-blue: rgb(188, 188, 226);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.buttonEasyHome {
  border: 0px;
  border-radius: 10%;
  background-color: var(--white-EasyHome);
}
