/* You can add global styles to this file, and also import other style files */
:root {
  --blue-EasyHome: rgb(66, 106, 140);
  --white-EasyHome: rgb(246, 239, 230);
  --light-blue: rgb(188, 188, 226);
  --border-button-orange: rgb(151, 100, 5);
  --button-orange: orange;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonEasyHome {
  border: 0px;
  border-radius: 10%;
  background-color: var(--white-EasyHome);
}
.titleEasyHome {
  font-weight: 700;
  color: var(--white-EasyHome);
}

/*spinner*/
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50vh;
  left: 49vw;
  z-index: 500;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
